.rotatingBorder::before {
  position: absolute;
  content: "";
  width: 200px;
  border-radius: 9999px;
  filter: blur(10px);
  height: 100%;
  background: linear-gradient(#95faff, #ff8a05);
  animation: animate 4s linear infinite;
}
.rotatingBorder::after {
  position: absolute;
  content: "";
  inset: 4px;
  background: #032332;
  border-radius: 9999px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
