@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: #84a4b5;
}
